.page-ansem
  = render 'items/header'
  .page-ansem-center
    .page-ansem-center__top
      .page-ansem-center__top__icon
      .page-ansem-center__top__name
        .page-ansem-center__top__name__first
          takamura 
        .page-ansem-center__top__name__last
          さんマイページ
    .page-ansem-center__bottom
      .page-ansem-center__bottom__title
        .page-ansem-center__bottom__title__inner
          .page-ansem-center__bottom__title__inner__sider
            各種登録
      .page-ansem-center__bottom__text
        .page-ansem-center__bottom__text__contents
          .page-ansem-center__bottom__text__contents__top
            = link_to"●ログアウト"
          .page-ansem-center__bottom__text__contents__bottom
            = link_to"●クレジットカードの編集"
  = render 'items/footer'
  