.body
  .box
    .body__single-heder
      .h1
        .a
          .img
    .body__main
      .body__main__box
        .h2
          購入内容の確認
      .body__main__box-second
        .div
          .div-second
            .h3
            .div-third
              .p
                シフォンタンクトップ
              .p-second
                .span
                  ¥500
                .span-second
                  （税込み）送料込み
      .body__main__box-third
        .div-fourth
          .from
            .ul
              .li
                .div-fifth
                  支払金額
                .div-sixth
                  .spn-third
                    ¥500
            .ul-second
              .li-second
                .div-seventh
                  .input
                  .i
                  .label
      .body__main__box-fourth
        .div-eighth
          .h3-second
            支払い方法
          .a-second
            .i-second
              .span-fourth
      .body__main__box-fifth
        .div-eighth
          .h3-second
            配送先
          .a-second-second
            .i-second
              .span-fourth
          .body__main__box-sixth
            .p-third
            .botton
              購入する
            .p-fourth
            .div-ninth
  .body__footer
    .nav
      .ul-third
        .li-third
          .a-fifth
            プライバシーポリシー
        .li-third
          .a-fifth
            フリマ利用規約
        .li-third
          .a-fifth
            特定商取引に関する表記
    .a-sixth
      .img-second
    .p-fifth
      .small
        © Furima