.header
  .header__inner
    .header__inner__main-header
      .header__inner__main-header__furima-image
        タイトル
      .header__inner__main-header__search-box
        .header__inner__main-header__seach-box__search-input
          テキスト
        .header__inner__main-header__seach-box__search-icon
          アイコン

    .header__inner__nav
      .header__inner__nav__list-left
        .header__inner__nav__list-left__category
          カテゴリー
        .header__inner__nav__list-left__brand
          ブランド
      .header__inner__nav__list-right
        .header__inner__nav__list-right__login
          ログイン
        .header__inner__nav__list-right__login-new
          新規会員登録