.maintop
  .maintop__mainfirst
    .maintop__mainfirst__content
      .maintop__mainfirst__content__Advertisement
        人生を変えるフリマアプリ
      .maintop__mainfirst__content__Description
        .p FURIMAは誰でもかんたんに出品・購入できる
        .br フリマアプリです
      .maintop__mainfirst__content__btn
        .maintop__mainfirst__content__btn__abtn
          = link_to "　", class: "contents__btn" 

        .maintop__mainfirst__content__btn__bbtn
          = link_to "　", class: "contents__btn" 


  .maintop__heading
    .maintop__heading__titl
      FURIMAが選ばれる３つの理由
    .maintop__heading__reasons
      .maintop__heading__reasons__reason
        .maintop__heading__reasons__reason__pict-left
          .maintop__heading__reasons__reason__pict-left__number-left
            1
          .maintop__heading__reasons__reason__pict-left__img-left
        .maintop__heading__reasons__reason__text
          .maintop__heading__reasons__reason__text__Continued
            ３分 
          .maintop__heading__reasons__reason__text__further
            ですぐに出品
        .maintop__heading__reasons__reason__Supplement
          スマホで入力するだけで簡単に出品できる！
      .maintop__heading__reasons__reason
        .maintop__heading__reasons__reason__pict-center
          .maintop__heading__reasons__reason__pict-center__number-center
            2
          .maintop__heading__reasons__reason__pict-center__img-center
        .maintop__heading__reasons__reason__text
          .maintop__heading__reasons__reason__text__Continued
            シンプル
          .maintop__heading__reasons__reason__text__further
            で使いやすい
        .maintop__heading__reasons__reason__Supplement
          めんどくさい入力は必要なく、検索も購入もスムーズ
      .maintop__heading__reasons__reason
        .maintop__heading__reasons__reason__pict-right
          .maintop__heading__reasons__reason__pict-right__number-right
            3
          .maintop__heading__reasons__reason__pict-right__img-right
        .maintop__heading__reasons__reason__text
          .maintop__heading__reasons__reason__text__further
            手数料 
          .maintop__heading__reasons__reason__text__Continued
            業界最安
        .maintop__heading__reasons__reason__Supplement
          最大で3%でお得に出品&購入

  .maintop__heading-second
    .maintop__heading-second__titl
      FURIMAの特徴
    .maintop__heading-second__reasons
      .maintop__heading-second__reasons__reason
        .maintop__heading-second__reasons__reason__pict-left
          .maintop__heading-second__reasons__reason__pict-left__img-left
        .maintop__heading-second__reasons__reason__text
          簡単に売り買いできる
        .maintop__heading-second__reasons__reason__Supplement
          スマホ１つで、いつでもどこでも簡単に出品・購入が可能！
      .maintop__heading-second__reasons__reason
        .maintop__heading-second__reasons__reason__pict-center
          .maintop__heading-second__reasons__reason__pict-center__img-center
        .maintop__heading-second__reasons__reason__text
          売上金は即時振り込みに対応
        .maintop__heading-second__reasons__reason__Supplement
          午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .maintop__heading-second__reasons__reason
        .maintop__heading-second__reasons__reason__pict-right
          .maintop__heading-second__reasons__reason__pict-right__img-right
        .maintop__heading-second__reasons__reason__text
          様々な支払いに対応
        .maintop__heading-second__reasons__reason__Supplement
          お支払いはクレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .maintop__mainsecond
    .maintop__mainsecond__content
      .maintop__mainsecond__content__Advertisement
        会員数日本一位
      .maintop__mainsecond__content__Description
        .p FURIMAは、フリマアプリで最も人気。
        .br 出品・購入回数も業界最多です！
        .br ほしかったあの商品に出会えるかもしれません。
      .maintop__mainsecond__content__btn
        .maintop__mainsecond__content__btn__cbtn
          = link_to "　", class: "contents__btn"
        .maintop__mainsecond__content__btn__dbtn
          = link_to "　", class: "contents__btn"