.sale-page
  .sale-page__furima-icon
    .sale-page__furima-icon__icon-box
  .sale-page__sale
    .sale-page__sale__sale-image-box
      .sale-page__sale__sale-image-box__title-box
        .sale-page__sale__sale-image-box__title-box__title
          出品画像
        .sale-page__sale__sale-image-box__title-box__required
          必須
      .sale-page__sale__sale-image-box__description
        最大10枚までアップロードできます
      .sale-page__sale__sale-image-box__image-form
        写真
    .sale-page__sale__sale-item-box
      .sale-page__sale__sale-item-box__item-top
        .sale-page__sale__sale-item-box__item-top__title-box
          .sale-page__sale__sale-item-box__item-top__title-box__title
            商品名
          .sale-page__sale__sale-item-box__item-top__title-box__required
            必須
        .sale-page__sale__sale-item-box__item-top__text
          入力フォーム
      .sale-page__sale__sale-item-box__item-bottom
        .sale-page__sale__sale-item-box__item-bottom__title-box
          .sale-page__sale__sale-item-box__item-bottom__title-box__title
            商品説明
          .sale-page__sale__sale-item-box__item-bottom__title-box__required
            必須
        .sale-page__sale__sale-item-box__item-top__text
          入力フォーム

    .sale-page__sale__sale-date-box
      .sale-page__sale__sale-date-box__date-title
        商品の詳細
      .sale-page__sale__sale-date-box__date-top
        .sale-page__sale__sale-date-box__date-top__title-box
          .sale-page__sale__sale-date-box__date-top__title-box__title
            カテゴリー
          .sale-page__sale__sale-date-box__date-top__title-box__required
            必須
        .sale-page__sale__sale-date-box__date-top__text
          入力フォーム
      .sale-page__sale__sale-date-box__date-center
        .sale-page__sale__sale-date-box__date-center__title-box
          .sale-page__sale__sale-date-box__date-center__title-box__title
            ブランド
          .sale-page__sale__sale-date-box__date-center__title-box__required
            任意
        .sale-page__sale__sale-date-box__date-center__text
          入力フォーム
      .sale-page__sale__sale-date-box__date-bottom
        .sale-page__sale__sale-date-box__date-bottom__title-box
          .sale-page__sale__sale-date-box__date-bottom__title-box__title
            商品の状態
          .sale-page__sale__sale-date-box__date-bottom__title-box__required
            必須
        .sale-page__sale__sale-date-box__date-bottom__text
          入力フォーム

    .sale-page__sale__sale-delivery-box
      .sale-page__sale__sale-delivery-box__delivery-title
        配送について
      .sale-page__sale__sale-delivery-box__delivery-top
        .sale-page__sale__sale-delivery-box__delivery-top__title-box
          .sale-page__sale__sale-delivery-box__delivery-top__title-box__title
            配送料の負担
          .sale-page__sale__sale-delivery-box__delivery-top__title-box__required
            必須
        .sale-page__sale__sale-delivery-box__delivery-top__text
          入力フォーム
      .sale-page__sale__sale-delivery-box__delivery-center
        .sale-page__sale__sale-delivery-box__delivery-center__title-box
          .sale-page__sale__sale-delivery-box__delivery-center__title-box__title
            発送元の地域
          .sale-page__sale__sale-delivery-box__delivery-center__title-box__required
            任意
        .sale-page__sale__sale-delivery-box__delivery-center__text
          入力フォーム
      .sale-page__sale__sale-delivery-box__delivery-bottom
        .sale-page__sale__sale-delivery-box__delivery-bottom__title-box
          .sale-page__sale__sale-delivery-box__delivery-bottom__title-box__title
            発送までの日数
          .sale-page__sale__sale-delivery-box__delivery-bottom__title-box__required
            必須
        .sale-page__sale__sale-delivery-box__delivery-bottom__text
          入力フォーム

    .sale-page__sale__sale-price-box
      .sale-page__sale__sale-price-box__price-title
        価格
      .sale-page__sale__sale-price-box__title-box
        .sale-page__sale__sale-price-box__title-box__title
          販売価格
        .sale-page__sale__sale-price-box__title-box__required
          必須
      .sale-page__sale__sale-price-box__text
        入力フォーム
    
    .sale-page__sale__sale-form-box
      .sale-page__sale__sale-form-box__form-up
        出品する
      .sale-page__sale__sale-form-box__form-return
        = link_to "#" do
          もどる
      .sale-page__sale__sale-form-box__form-legend
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。