* {
  box-sizing: border-box;
}

.wrapper{

}
// トップページ
// ヘッダー
.header{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main-header{
      position: relative;
      display: flex;
      align-items: center;
      &__furima-image{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        background-image: image-url("logo.png");
        background-size:cover;
        height: 40px;
        width: 170px;
      }
      &__search-box{
        width: 100%;
        display: flex;
        
        .search-form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          
          .search-text{
            width: 830px;
            height: 38px;
          }
          .search-btn{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            background-image: url("icon-search 1.png");
            background-size:cover;
          }
        }
      }
    }
    &__nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__list-left{
        position: relative;
        display: flex;
        &__category{
          line-height: 38px;
          .btn-category{
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__brand{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-brand{
            color: #333;
            text-decoration: none;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      &__list-right{
        margin-left: auto;
        display: flex;
        &__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-login{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
          }
        }
        &__login-new{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-login-new{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// 出品アイコン
.exhibition{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__exhibition-text{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__exhibition-icon{
    background-image: image-url("icon_camera.png");
    background-size:cover;
    width: 70%;
    height: 60px;
    margin: auto;
  }
  a{
    text-decoration: none;
  }
}

// メイントップ
.maintop{
  background: #F8F8F8;
  &__mainfirst{
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
        &__Advertisement{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
        &__Description{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
          line-height: 1.77778;
          margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0;
        font-size: 40px;
        &__abtn{
          width: 200px;
          margin-right: 10px;
          background-image: image-url('app-store.svg');
          background-size:cover;
        }
        &__bbtn{
          width: 200px;
          background-image: image-url('google.svg');
          background-size:cover;
        }
      }
    }
  }
 &__heading{
  padding: 60px 20px;
  &__titl{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &::after{
      content: “”;
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__reasons{
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    &__reason{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__pict-left{
        position: relative;
        margin-bottom: 20px;
        &__number-left{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        &__img-left{
          width: 300px;
          height: 300px;
          vertical-align: bottom;
          background-size: 350px;
          background-image: image-url('pict-reason-01.jpg');
        }
      }
      &__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        display: flex;
        &__Continued{
          color: #3CCACE;
        }
        &__further{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      &__Supplement{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
      &__pict-center{
        position: relative;
        margin-bottom: 20px;
        &__number-center{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        &__img-center{
          width: 300px;
          height: 300px;
          vertical-align: bottom;
          background-image: image-url('pict-reason-02.jpg');
          background-size: 350px;
        }
      }
      &__pict-right{
        position: relative;
        margin-bottom: 20px;
        &__number-right{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        &__img-right{
          width: 300px;
          height: 300px;
          vertical-align: bottom;
          background-size: 350px;
          background-image: image-url('pict-reason-03.jpg');
        }
      }
    }
  }
}
  &__heading-second{
    padding: 60px 20px;
    &__titl{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after{
        content: “”;
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__reasons{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__reason{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict-left{
          position: relative;
          margin-bottom: 20px;
          &__number-left{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &__img-left{
            width: 200px;
            height: 300px;
            vertical-align: bottom;
            background-size: 200px;
            background-image: image-url('icon-01.png');
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          display: flex;
        }
        &__Supplement{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
        &__pict-center{
          position: relative;
          margin-bottom: 20px;
          &__number-center{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &__img-center{
            width: 200px;
            height: 300px;
            vertical-align: bottom;
            background-image: image-url('icon-03.png');
            background-size: 200px;
          }
        }
        &__pict-right{
          position: relative;
          margin-bottom: 20px;
          &__number-right{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &__img-right{
            width: 200px;
            height: 300px;
            vertical-align: bottom;
            background-size: 200px;
            background-image: image-url('icon-04.png');
          }
        }
      }
    }
  }
  &__mainsecond{
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__content{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__Advertisement{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__Description{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn{
        display: flex;
        font-size: 40px;
        &__cbtn{
          margin-right: 10px;
          width: 200px;
          background-image: image-url('app-store.svg');
          background-size:cover;
        }
        &__dbtn{
          width: 200px;
          background-color: black;
          background-image: image-url('google.svg');
          background-size:cover;
        }
      }
    }
  }
}
  

// メインボトム
.main{
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  &__bottom{
    height: 100%;
    &__top{
      padding-top: 80px;
      .p{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__name{
        text-align: center;
        color: #3CCACE;
        font-size: 24px;
        font-weight: bold;
      }
      &__content-box{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        &__menu{
          background-color: white;
          &__img{
            width: 180px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            background-image: image-url('a007.png');
            background-size: cover;
          }
          &__text{
            width: 180px;
            height: 90px;
            background-color: white;
            &__top{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
            }
            &__middle{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
              display: flex;
              justify-content: space-between;
              &__star{
              }
            }
            &__bottom{
              font-size: 8px;
              padding-left: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    &__bottom{
      background-color: #f8f8f8;
      padding-top: 80px;
      .p{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__name{
        .p{
          text-align: center;
          color: #3CCACE;
          font-size: 24px;
          font-weight: bold;
        }
      }
      &__content-box{
        width: 700px;
        margin-left: 26px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        &__menu{
          background-color: white;
          &__img{
            width: 180px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            background-image: image-url('a007.png');
            background-size: cover;
          }
          &__text{
            width: 180px;
            height: 90px;
            background-color: white;
            &__top{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
            }
            &__middle{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
              display: flex;
              justify-content: space-between;
              &__star{
              }
            }
            &__bottom{
              font-size: 8px;
              padding-left: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
  }
}


// フッター
.footer{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .footer-top{
    background-image: image-url('bg-appBanner-pict.jpg');
    padding: 100px 40px;
    background-size: cover;
    background-position: center;
    &__inner{
    color: white;
    text-align: center;
      &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      }
      &__text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 35px;
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;

        &__app-btn{
          width: 180px;
          height: 50px;
          background-size: cover;
          background-position: center;
          background-image: image-url('app-store.svg');
          margin-right: 10px;
        }
        &__google-btn{
          width: 180px;
          height: 50px;
          background-size: cover;
          background-position: center;
          background-image: image-url('google.svg');
        }
      }
    }
  }
  .footer-bottom{
    padding: 100px;
    background-color: #272727;
    position: relative;
    height: 400px;
    &__contents{
      display: flex;
      color: #ffffff;
      margin: auto;
      max-width: 840px;
      &__content__left {
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      text-align: center;
        &__head{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &__body{
          font-size: 12px;
          padding: 10px;
        }
      }
      &__content__center{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        text-align: center;
        &__head{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
      }
      &__content__rigth{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      text-align: center;
        &__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        }
      }
    }
    &__image{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      left: 760px;
      top: 300px;
      &__sub{
        background-image:image-url('logo-white.png');
        background-size: cover;
        width: 140px;
        height: 40px;
      }
      &__title{
        color: white;
        font-size: 140px;
        text-align: center;
      }
    }
  }
}
a{
  color: white;
  text-decoration: none;
}