// Place all the styles related to the toppage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  &__bottom{
    height: 100%;
    &__top{
      padding-top: 80px;
      .p{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__name{
        text-align: center;
        color: #3CCACE;
        font-size: 24px;
        font-weight: bold;
      }
      &__content-box{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        &__menu{
          background-color: white;
          &__img{
            width: 180px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            background-image: url('a007.png');
            background-size: cover;
          }
          &__text{
            width: 180px;
            height: 90px;
            background-color: white;
            &__top{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
            }
            &__middle{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
              display: flex;
              justify-content: space-between;
              &__star{
              }
            }
            &__bottom{
              font-size: 8px;
              padding-left: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    &__bottom{
      background-color: #f8f8f8;
      padding-top: 80px;
      .p{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__name{
        .p{
          text-align: center;
          color: #3CCACE;
          font-size: 24px;
          font-weight: bold;
        }
      }
      &__content-box{
        width: 700px;
        margin-left: 26px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        &__menu{
          background-color: white;
          &__img{
            width: 180px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            background-image: url('a007.png');
            background-size: cover;
          }
          &__text{
            width: 180px;
            height: 90px;
            background-color: white;
            &__top{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
            }
            &__middle{
              font-size: 15px;
              font-weight: bold;
              padding: 0px 15px 0px 15px;
              display: flex;
              justify-content: space-between;
              &__star{
              }
            }
            &__bottom{
              font-size: 8px;
              padding-left: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
  }
}
