* {
  box-sizing: border-box;
}

.wrapper{

}

.header{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main-header{
      position: relative;
      display: flex;
      align-items: center;
      &__furima-image{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        background-image: url("logo.png");
        background-size:cover;
        height: 40px;
        width: 170px;
      }
      &__search-box{
        width: 100%;
        display: flex;
        
        .search-form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          
          .search-text{
            width: 830px;
            height: 38px;
          }
          .search-btn{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            background-image: url("icon-search 1.png");
            background-size:cover;
          }
        }
      }
    }
    &__nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__list-left{
        position: relative;
        display: flex;
        &__category{
          line-height: 38px;
          .btn-category{
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__brand{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-brand{
            color: #333;
            text-decoration: none;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      &__list-right{
        margin-left: auto;
        display: flex;
        &__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-login{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
          }
        }
        &__login-new{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .btn-login-new{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}