
.pay-header
  .pay-header__box
    .pay-header__box__heder
      .pay-header__box__heder__frame
        .pay-header__box__heder__frame__link
          .pay-header__box__heder__frame__link__image

  .pay-header__box__middle
    .pay-header__box__middle__frame
      .pay-header__box__middle__frame__top
        = link_to root_path, class: "buy-btn" do
          購入が完了しました！
        .pay-header__box__middle__frame__top__pay

  .pay-header__footer
    .pay-header__footer__sub
      .pay-header__footer__sub__box
        .pay-header__footer__sub__box__text
          .pay-header__footer__sub__box__text__link
            プライバシーポリシー
        .pay-header__footer__sub__box__text
          .pay-header__footer__sub__box__text__link
            フリマ利用規約
        .pay-header__footer__sub__box__text
          .pay-header__footer__sub__box__text__link
            特定商取引に関する表記
    .pay-header__footer__image
      .pay-header__footer__image__pasting
    .pay-header__footer__logo
      .pay-header__footer__logo__pasting
        © Furima