.main
  .main__bottom
    .main__bottom__top
      .p ピックアップカテゴリー
      .main__bottom__top__name
        新規投稿商品
      .main__bottom__top__content-box
        .main__bottom__top__content-box__menu
          .main__bottom__top__content-box__menu__img
          .main__bottom__top__content-box__menu__text__top
            鮭
          .main__bottom__top__content-box__menu__text__middle
            3000円　　　　
            .main__bottom__top__content-box__menu__text__middle__star
              ★０
          .main__bottom__top__content-box__menu__text__bottom
            (税込)
        .main__bottom__top__content-box__menu
          .main__bottom__top__content-box__menu__img
          .main__bottom__top__content-box__menu__text__top
            鮭
          .main__bottom__top__content-box__menu__text__middle
            3000円　　　　
            .main__bottom__top__content-box__menu__text__middle__star
              ★０
          .main__bottom__top__content-box__menu__text__bottom
            (税込)
        .main__bottom__top__content-box__menu
          .main__bottom__top__content-box__menu__img
          .main__bottom__top__content-box__menu__text__top
            鮭
          .main__bottom__top__content-box__menu__text__middle
            3000円　　　　
            .main__bottom__top__content-box__menu__text__middle__star
              ★０
          .main__bottom__top__content-box__menu__text__bottom
            (税込)
    .main__bottom__bottom
      .p ピックアップブランド
      .main__bottom__bottom__name
        .p アーカイバ
        .main__bottom__bottom__content-box
          .main__bottom__bottom__content-box__menu
            .main__bottom__bottom__content-box__menu__img
            .main__bottom__bottom__content-box__menu__text__top
              鮭
            .main__bottom__bottom__content-box__menu__text__middle
              3000円　　　　
              .main__bottom__bottom__content-box__menu__text__middle__star
                ★０
            .main__bottom__bottom__content-box__menu__text__bottom
              (税込)
          .main__bottom__bottom__content-box__menu
            .main__bottom__bottom__content-box__menu__img
            .main__bottom__bottom__content-box__menu__text__top
              鮭
            .main__bottom__bottom__content-box__menu__text__middle
              3000円　　　　
              .main__bottom__bottom__content-box__menu__text__middle__star
                ★０
            .main__bottom__bottom__content-box__menu__text__bottom
              (税込)
          .main__bottom__bottom__content-box__menu
            .main__bottom__bottom__content-box__menu__img
            .main__bottom__bottom__content-box__menu__text__top
              鮭
            .main__bottom__bottom__content-box__menu__text__middle
              3000円　　　　
              .main__bottom__bottom__content-box__menu__text__middle__star
                ★０
            .main__bottom__bottom__content-box__menu__text__bottom
              (税込)