.main
  .main__bottom
    .main__bottom__top
      .p ピックアップカテゴリー
      .main__bottom__top__name
        新規投稿商品
      .main__bottom__top__content-box
        - @items.each do |item|
          - if item.buyer_id.present?
          - else "no buyer_id" 

            .main__bottom__top__content-box__menu
              .main__bottom__top__content-box__menu__img
                = image_tag item.images[0].url
              .main__bottom__top__content-box__menu__text__top
                = item.name
              .main__bottom__top__content-box__menu__text__middle
                = item.price
                .main__bottom__top__content-box__menu__text__middle__star
                  ★０
              .main__bottom__top__content-box__menu__text__bottom
                (税込) （編集済み）               


    -# .main__bottom__bottom
    -#   .p ピックアップブランド
    -#   .main__bottom__bottom__name
    -#     .p アーカイバ
    -#     .main__bottom__bottom__content-box
    -#       - @items.each do |item|
    -#         .main__bottom__bottom__content-box__menu
    -#           .main__bottom__bottom__content-box__menu__img
    -#             = image_tag item.images[0].url
    -#           .main__bottom__bottom__content-box__menu__text__top
    -#             = item.name
    -#           .main__bottom__bottom__content-box__menu__text__middle
    -#             = item.price
    -#             .main__bottom__bottom__content-box__menu__text__middle__star
    -#               ★０
    -#           .main__bottom__bottom__content-box__menu__text__bottom
    -#             (税込)
