.main
  .main__bottom
    .main__bottom__top
      .p ピックアップカテゴリー
      .main__bottom__top__name
        新規投稿商品
      .main__bottom__top__content-box
        - @items.each do |item|
          - if item.buyer_id.present?
          - else "no buyer_id"
            .main__bottom__top__content-box__menu
              = link_to  item_path(item.id),class: "item-menu" do
                .main__bottom__top__content-box__menu__img
                  = image_tag item.images[0].url.url
                .main__bottom__top__content-box__menu__text__top
                  = item.name
                .main__bottom__top__content-box__menu__text__middle
                  = item.price
                  .main__bottom__top__content-box__menu__text__middle__star
                    ★０
                .main__bottom__top__content-box__menu__text__bottom
                  (税込)
