= render "header"
.delete-result
  .delete-result__main
    .delete-result__main__text
      削除しました
    .delete-result__main__return
      = link_to 'トップページに戻る', root_path, class:"return-btn"
= render "footer"