// destroy画面ビュー
.delete-result {
  background-color: rgb(245, 245, 245);;
  height: 300px;
  padding-top: 10px;
  &__main {
    background-color: white;
    height: 280px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    &__text {
      height: 200px;
      line-height: 200px;
    }
    &__return {
      height: 50px;
      line-height: 50px;
      width: 500px;
      background-color: red;
      color: white;
      border-radius: 100px;
      margin: 0 auto;
      .return-btn {
        display: block;
      }
    }
  }
}